* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-size: 14px;
  background-color: #fff;
  color: #000000;
  padding-bottom: 24px;
}

header {
  height: 70px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

header .logo {
  cursor: pointer;
  margin-right: 41px;
}

header .content {
  width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

header .menu {
  font-size: 16px;
  margin-right: 28px;
  cursor: pointer;
}

header .menu:hover {
  text-decoration: underline;
}

header .user-info {
  flex: 1;
  text-align: right;
}

header .user-info img {
  margin-left: 15px;
  cursor: pointer;
}

.pink {
  color: #FF6473;
}
