* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: 1px solid #E6E6E6;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text- {
  text-decoration: line-through;
}

.mb12 {
  margin-bottom: 12px;
}

.mt12 {
  margin-top: 12px;
}

.ml12 {
  margin-left: 12px;
}

.mr12 {
  margin-right: 12px;
}

.mb14 {
  margin-bottom: 14px;
}

.mt14 {
  margin-top: 14px;
}

.ml14 {
  margin-left: 14px;
}

.mr14 {
  margin-right: 14px;
}

.mb16 {
  margin-bottom: 16px;
}

.mt16 {
  margin-top: 16px;
}

.ml16 {
  margin-left: 16px;
}

.mr16 {
  margin-right: 16px;
}


.mb18 {
  margin-bottom: 18px;
}

.mt18 {
  margin-top: 18px;
}

.ml18 {
  margin-left: 18px;
}

.mr18 {
  margin-right: 18px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt30 {
  margin-top: 30px;
}

.ml30 {
  margin-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs24 {
  font-size: 24px;
}

.fs26 {
  font-size: 26px;
}

.gray {
  color: #919191;
}

.fw {
  font-weight: bold;
}

body {
  font-size: 14px;
  background-color: #fff;
  color: #000000;
  padding-bottom: 24px;
}
