main {
  padding: 44px 0 70px;
}


.icon-wrap {
  padding-top: 86px;
  text-align: center;
  margin: 0 auto;
}

.card {
  margin: 82px auto 51px;
  display: flex;
  width: 591px;
  padding-bottom: 32px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(75, 85, 99, 0.06);
}
